body {
    color: white;
    background-color: black;
}

.card{
    color: white;
    background-color: black;
}

.icon {
    background-color: rgb(40, 214, 245);
}

.destacados .card-body {
    background-color: rgb(40, 214, 245);
}

.btn {
    background-color: rgb(40, 214, 245);
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: white;
    background-color: rgb(40, 214, 245);
}

.footer-icons .fa-brands{
    color: white;
    background-color: rgb(40, 214, 245);
}